{{requirejs widgets.comments.enable="1"}}
				
			{{#Login}}
			  {{#user}}
<div class="panel">
	<div class="panel-body">
		<h4>Ciao! <a href="/linksharing/?m=users">{{{name}}}</a> you can leave a message bellow or if you are borried then you can <a href="/linksharing/?logout=true">Logout</a>.</h4>
		<form class="form-vertical" role="form">
		<div class="row">
		    <div class="col-sm-12">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Message</label>
			    <div class="col-sm-10">
			      <textarea type="email" class="form-control" id="inputEmail3" placeholder="Something you want say..."></textarea>
			    </div>
		      </div>
		    </div>
		</div>
		<br/>
		<div class="row">
		    <div class="col-sm-3">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Food & Snacks</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					</ul>
			    </div>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" id="numberElements" placeholder="N.">
			    </div>
			    <div class="col-sm-9">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="of What?">
					  <span class="input-group-btn">
					    <button class="btn btn-default" type="button">Add</button>
					  </span>
					</div>
			    </div>
		      </div>
		    </div>
		    <div class="col-sm-3">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Drinks</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					</ul>
			    </div>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" id="numberElements" placeholder="N.">
			    </div>
			    <div class="col-sm-9">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="of What?">
					  <span class="input-group-btn">
					    <button class="btn btn-default" type="button">Add</button>
					  </span>
					</div>
			    </div>
		      </div>
		    </div>
		    <div class="col-sm-3">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Stuff & Games</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					</ul>
			    </div>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" id="numberElements" placeholder="N.">
			    </div>
			    <div class="col-sm-9">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="of What?">
					  <span class="input-group-btn">
					    <button class="btn btn-default" type="button">Add</button>
					  </span>
					</div>
			    </div>
		      </div>
		    </div>
		    <div class="col-sm-3">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Friends</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					  <li class="list-group-item"> <span class="badge">14</span> Cras justo odio </li>
					</ul>
			    </div>
			    <div class="col-sm-3">
			      <input type="text" class="form-control" id="numberElements" placeholder="N.">
			    </div>
			    <div class="col-sm-9">
					<div class="input-group">
					  <input type="text" class="form-control" placeholder="Who?">
					  <span class="input-group-btn">
					    <button class="btn btn-default" type="button">Add</button>
					  </span>
					</div>
			    </div>
		      </div>
		    </div>
		</div>
		<br/>
		<br/>
	    <div class="col-sm-12 text-center">
	    	<button class="btn btn-default">Leave a Message</button>
	    </div>
	    </form>
    </div>
</div>
  
              {{/user}}
          	{{/Login}}