{{requirejs widgets.comments.enable="1"}}
				
			{{#Login}}
			  {{#user}}
<div class="panel">
	<div class="panel-body">
		<h4>Ciao! <a href="/linksharing/?m=users">{{{name}}}</a> you can leave a message bellow or if you are borried then you can <a href="/linksharing/?logout=true">Logout</a>.</h4>
		<form class="form-vertical" role="form">
		<div class="row">
		    <div class="col-sm-12">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Message</label>
			    <div class="col-sm-10">
			      <textarea type="email" class="form-control i-message" placeholder="Something you want say..."></textarea>
			    </div>
		      </div>
		    </div>
		</div>
		<br/>
		<div class="row">
		    <div class="col-sm-3 form-container" data-type="food">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Food & Snacks</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					</ul>
			    </div>
			    <div class="g-element">
				    <div class="col-sm-3">
				      <input type="text" class="form-control i-qt" placeholder="N.">
				    </div>
				    <div class="col-sm-9">
						<div class="input-group">
						  <input type="text" class="form-control i-desc" placeholder="of What?">
						  <span class="input-group-btn">
						    <button class="btn btn-default e-addElem" type="button">Add</button>
						  </span>
						</div>
				    </div>
			      </div>
		      </div>
		    </div>
		    <div class="col-sm-3 form-container" data-type="drinks">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Drinks</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					</ul>
			    </div>
			   <div class="g-element">
				    <div class="col-sm-3">
				      <input type="text" class="form-control i-qt" placeholder="N.">
				    </div>
				    <div class="col-sm-9">
						<div class="input-group">
						  <input type="text" class="form-control i-desc" placeholder="of What?">
						  <span class="input-group-btn">
						    <button class="btn btn-default e-addElem" type="button">Add</button>
						  </span>
						</div>
				    </div>
			      </div>
		      </div>
		    </div>
		    <div class="col-sm-3 form-container" data-type="stuff">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Stuff & Games</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					</ul>
			    </div>
			    <div class="g-element">
				    <div class="col-sm-3">
				      <input type="text" class="form-control i-qt" placeholder="N.">
				    </div>
				    <div class="col-sm-9">
						<div class="input-group">
						  <input type="text" class="form-control i-desc" placeholder="of What?">
						  <span class="input-group-btn">
						    <button class="btn btn-default e-addElem" type="button">Add</button>
						  </span>
						</div>
				    </div>
			      </div>
		      </div>
		    </div>
		    <div class="col-sm-3 form-container" data-type="friends">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-12 control-label">Friends</label>
			    <div class="col-sm-12">
			    	<ul class="list-group">
					</ul>
			    </div>
			    <div class="g-element">
				    <div class="col-sm-3">
				      <input type="text" class="form-control i-qt" placeholder="N.">
				    </div>
				    <div class="col-sm-9">
						<div class="input-group">
						  <input type="text" class="form-control i-desc" placeholder="of What?">
						  <span class="input-group-btn">
						    <button class="btn btn-default e-addElem" type="button">Add</button>
						  </span>
						</div>
				    </div>
			      </div>
		      </div>
		    </div>
		</div>
		<br/>
		<br/>
	    <div class="col-sm-12 text-center">
	    	<button class="btn btn-default e-submit">Leave a Message</button>
	    </div>
	    </form>
    </div>
</div>
  
              {{/user}}
          	{{/Login}}