
{{{!requirejs b="something" widget="something"}}}
{{{template.web.widget.header someOptions="something" test="Linksharing" head.title="Linksharing" }}}
      <!-- Example row of columns -->
      <!-- Example row of columns -->
		<style>
			/*Some styles*/
			* {margin: 0; padding: 0;}

			body{
				background: #FAF7D6;
			}

			body, h1, h2, h3, h4, h5 a{
				font-family: "Comic Sans MS", "Lucida", "Helvetica", "Arial", sans-serif;
			}

			.panel-footer .nav-pills li.label{
				color: #555;
			}

			.panel-footer .nav-pills li.label .badge{
				color: #333;
				background: #FFF;
			}

			.promoting{
				color: #555;
				font-size: 1.5em;
			}


		</style>

		<div class="row promoting">
			<div class="col-md-12 text-center">
				<h1>Amsterdam Christmas 2013</h1>
				<h3>Little Italy presents</h3>
				<img src="img/vvMT6.gif" alt="christmas">
			</div>
			<br/>
			<div class="col-md-12 text-center">
				If you are here maybe you already know why!
				This year we want organize something special together.
				Usualy we cook to our guest, but this time lets do bring and share.
				We want organize the most cool Christmas together for the dinner of 24th and the lunch of the 25th.
			</div>
			<br/>
		</div>
		<br />
		<br />
		<br />
		<div class="row">
<!--       <div class="row-fluid"> -->
<!--         <div class="span12"> -->
			<!-- The ascii art comes in the pre tag below -->
			<div id="promotion" class="collapse">
			</div>


				<br/>
				<br/>
				<br/>
				{{{template.web.widget.comments}}}
			    {{{template.web.widget.form}}}

			{{#Login}}
			  {{#user}}

              {{/user}}
              {{#not_user}}
	              <a href="#" class="btn btn-primary e-login-modal">Login</a>
              {{/not_user}}
          	{{/Login}}

		</div>


<!-- 			</div> -->

<!--         </div> -->
<!--       </div> -->

{{{template.web.widget.footer}}}