
{{{requirejs b="something" widget="something"}}}
{{{template.web.widget.header someOptions="something" test="Linksharing" head.title="Linksharing" }}}
      <!-- Example row of columns -->
      <!-- Example row of columns -->
      <br/>
      <br/>
      <br/>
      <br/>
		<div class="row">
<!--       <div class="row-fluid"> -->
<!--         <div class="span12"> -->
			Test Page
		</div>
				
				
<!-- 			</div> -->
			
<!--         </div> -->
<!--       </div> -->
      
{{{template.web.widget.footer}}}